.ipynb_checkpoints


Estimating_Mean_and_Deviation/.ipynb_checkpoints/Estimating_Mean_and_Deviation-checkpoint.ipynb

Estimating_Difference_Between_Means/.ipynb_checkpoints/Estimating_Difference_Between_Means-checkpoint.ipynb

Estimating_Proportion/.ipynb_checkpoints/Estimating_Proportion-checkpoint.ipynb

Estimating_Difference_Between_Means/.ipynb_checkpoints/Estimating_Difference_Between_Means-checkpoint.ipynb

Estimating_Ratio_Deviations/.ipynb_checkpoints/Estimating_Ratio_Deviations-checkpoint.ipynb

Introduction/.ipynb_checkpoints/Introduction-checkpoint.ipynb

Linear_Regression/.ipynb_checkpoints/Linear_Regression-checkpoint.ipynb
